@model CSTEntryForm02a.Models.TEntryMeibo

@{
    ViewData["Title"] = "Edit";
}
<head>
    <script type="text/javascript">
    <!--
        function check1() {
            alert("確認画面へ移動します。少々お待ちください。");
            return true;
        }
   
    // -->

    </script>


</head>
<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>TEntryMeibo</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="ENameSei" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ENameSei" class="form-control" />
                <span asp-validation-for="ENameSei" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ENameNamae" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ENameNamae" class="form-control" />
                <span asp-validation-for="ENameNamae" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ENameSeiKana" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ENameSeiKana" class="form-control" />
                <span asp-validation-for="ENameSeiKana" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ENameNamaeKana" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ENameNamaeKana" class="form-control" />
                <span asp-validation-for="ENameNamaeKana" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ENenrei" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ENenrei" class="form-control" />
                <span asp-validation-for="ENenrei" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EJitakuRosen" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EJitakuRosen" class="form-control" />
                <span asp-validation-for="EJitakuRosen" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EJitakuMoyorieki" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EJitakuMoyorieki" class="form-control" />
                <span asp-validation-for="EJitakuMoyorieki" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EJitakuToEki_Koutsu" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EJitakuToEki_Koutsu" class="form-control" />
                <span asp-validation-for="EJitakuToEki_Koutsu" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EJitakuToEki_Jikan" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EJitakuToEki_Jikan" class="form-control" />
                <span asp-validation-for="EJitakuToEki_Jikan" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EShigotoKibou" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EShigotoKibou" class="form-control" />
                <span asp-validation-for="EShigotoKibou" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EEmail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EEmail" class="form-control" />
                <span asp-validation-for="EEmail" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EPhone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EPhone" class="form-control" />
                <span asp-validation-for="EPhone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EMendan1Tsuki" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EMendan1Tsuki" class="form-control" />
                <span asp-validation-for="EMendan1Tsuki" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EMendan1Hi" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EMendan1Hi" class="form-control" />
                <span asp-validation-for="EMendan1Hi" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EMendan1Youbi" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EMendan1Youbi" class="form-control" />
                <span asp-validation-for="EMendan1Youbi" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EMendan1Ampm" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EMendan1Ampm" class="form-control" />
                <span asp-validation-for="EMendan1Ampm" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EMendan2Tsuki" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EMendan2Tsuki" class="form-control" />
                <span asp-validation-for="EMendan2Tsuki" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EMendan2Hi" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EMendan2Hi" class="form-control" />
                <span asp-validation-for="EMendan2Hi" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EMendan2Youbi" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EMendan2Youbi" class="form-control" />
                <span asp-validation-for="EMendan2Youbi" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EMendan2Ampm" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EMendan2Ampm" class="form-control" />
                <span asp-validation-for="EMendan2Ampm" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EMendan3Tsuki" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EMendan3Tsuki" class="form-control" />
                <span asp-validation-for="EMendan3Tsuki" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EMendan3Hi" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EMendan3Hi" class="form-control" />
                <span asp-validation-for="EMendan3Hi" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EMendan3Youbi" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EMendan3Youbi" class="form-control" />
                <span asp-validation-for="EMendan3Youbi" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EMendan3Ampm" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EMendan3Ampm" class="form-control" />
                <span asp-validation-for="EMendan3Ampm" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EQuestion" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EQuestion" class="form-control" />
                <span asp-validation-for="EQuestion" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                @*<input asp-action="Details" asp-route-id="-3" type="submit" onclick="return check1()" value="back to check" class="grid2 item_height16 btn btn-default" />*@
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
