@model CSTEntryForm02a.Models.TEntryMeibo

@{
    ViewData["Title"] = "Create";
}

<head>
<script type="text/javascript">
    <!--
    function check1() {
        if (document.entryform.ENameSei.value == null || document.entryform.ENameSei.value == ""
            || document.entryform.ENameNamae.value == null || document.entryform.ENameNamae.value == ""
            || document.entryform.ENameSeiKana.value == null || document.entryform.ENameSeiKana.value == ""
            || document.entryform.ENameNamaeKana.value == null || document.entryform.ENameNamaeKana.value == ""
            || document.entryform.EEmail.value == null || document.entryform.EEmail.value == ""

        ) {
            alert("必須項目を入力して下さい。");
            return false;

        } else {
            alert("登録していただき、ありがとうございました。");
            return true;
            
        }

    }   
   


    // -->

</script>
</head>
@*<h3>　</h3>*@
<h2>株式会社サイバースペーステクノロジー</h2>
<style>
    h2 {
        color:royalblue ;
        font-family:'Global Sans Serif';
        font-weight:900;
    }
    body {
        background: beige;
    }
    .item {
        padding: 50px;
        /*border-radius: 8px;
        border: 3px solid #ccc;*/
    }
    /*.container {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: auto ;
        grid-template-rows: minmax(20px auto);
    }*/
    .container {
        width: 940px;
        /*width: 1154px;*/
         
    }
    div {
        margin: 7px;
    }
    .grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11 {
    float: left;
    display: inline;
    margin-left: 20px;
   
    }
    .grid1 {
        width: 60px;
    }
    .grid2 {
        width: 140px;
    }
    .grid3 {
        width: 220px;
    }
    .grid4 {
        width: 300px;
    }
    .grid5 {
        width: 380px;
    }
    .grid6 {
        width: 460px;
    }
    .grid7 {
        width: 540px;
    }
    .grid8 {
        width: 620px;
    }
    .grid9 {
        width: 700px;
    }
    .grid10 {
        width: 780px;
    }
    .grid11 {
        width: 860px;
    }
   
    .first {
        margin-left: 0;
        clear: left;
    }

    .item_height16 {
        height: auto;
    }

    .item_height60 {
        height: 60px;
    }

    .item_height100 {
        height: 100px;
    }

    .item_height160 {
        height: 160px;
    }

    /* clearfix */
    .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    /*height: 0;*/
    }
 
    /* IE6 */
    * html .clearfix {
        zoom: 1;
    }
 
    /* IE7 */
    *:first-child + html .clearfix {
        zoom: 1;
    }


</style>

<form name="entryform" asp-action="Create">
   

    <div class="container">
        <div class="form-horizontal">
            @*<div class="item">*@
            <h4>エントリーフォーム</h4>
            <hr />

            <div asp-validation-summary="ModelOnly" class="text-danger form-horizontal"></div>
        </div>

        @*<div class="form-group">*@
        <div class="grid2 first">
            @*<label asp-for="ENameSei" class="col-md-3 control-label"></label>*@
            <label asp-for="ENameSei" class="grid2 item_height16">氏名　 <font color="red">（必須）</font></label>
        </div>

        <div class="grid3">
            @*<div class="col-md-10">*@
            @*<input style="display: inline; float: left;" asp-for="ENameSei" class="form-control" placeholder="姓" value="" />　　<input style="display: inline; " asp-for="ENameNamae" class="form-control" placeholder="名" value="" />*@
            <input name="ENameSei" asp-for="ENameSei" style="display: inline;" placeholder="姓" class="grid3 item_height16 " value="" />
            <span asp-validation-for="ENameSei" class="text-danger"></span>
        </div>
        <div class="grid3 ">
            <input name="ENameNamae" asp-for="ENameNamae" placeholder="名" class="grid3 item_height16 " value="" />
            <span asp-validation-for="ENameNamae" class="text-danger"></span>
        </div>



        @*<div class="form-horizontal">*@
        <div class="grid2  first">
            @*<div class="form-group">*@
            @*<label asp-for="ENameSeiKana" class="col-md-3 control-label"></label>*@
            <label asp-for="ENameSeiKana" class="grid2 item_height16">ふりがな　<font color="red">（必須）</font></label>
        </div>
        <div class="grid3">
            @*<div class="col-md-10">*@
            @*<input style="display: inline; float: left;" asp-for="ENameSeiKana" class="form-control" placeholder="せい" value="" />　　<input style="display: inline;" asp-for="ENameNamaeKana" class="form-control" placeholder="めい" value="" />*@
            <input name="ENameSeiKana" asp-for="ENameSeiKana" placeholder="せい" class="grid3 item_height16 " value="" />
            <span asp-validation-for="ENameSeiKana" class="text-danger"></span>
        </div>
        <div class="grid3">
            <input name="ENameNamaeKana" asp-for="ENameNamaeKana" placeholder="めい" class="grid3 item_height16 " value="" />
            <span asp-validation-for="ENameNamaeKana" class="text-danger"></span>
        </div>

        <div class="grid2  first">
            @*<div class="form-group">*@
            <label asp-for="ENenrei" class="grid2 item_height16"></label>
        </div>
        <div class="grid1 ">
            @*<div class="col-md-2">*@
            <input name="ENenrei" asp-for="ENenrei"　style = "text-align : right;" class="grid1 item_height16 "　value="歳"  />
            <span asp-validation-for="ENenrei" class="text-danger"></span>
        </div>

        <div class="grid2 first">
            @*<div class="form-group">*@
            <label asp-for="EJitakuRosen" class="grid2 item_height16"></label>
        </div>
        @*<div class="col-md-10">*@
        <div class="grid3">
            @*<input style="display: inline; float: left;" asp-for="EJitakuRosen" class="form-control" placeholder="路線名" value="" />線　-　<input style="display: inline;" 　asp-for="EJitakuMoyorieki" class="form-control" placeholder="駅名" value="" />駅*@
            <input name="EJitakuRosen" asp-for="EJitakuRosen" placeholder="路線名" class="grid3 item_height16 " value="" />
            <span asp-validation-for="EJitakuRosen" class="text-danger"></span>
        </div>
        <div class="grid3">
            <input name="EJitakuMoyorieki" asp-for="EJitakuMoyorieki" placeholder="駅名" class="grid3 item_height16 " value="" />
            <span asp-validation-for="EJitakuMoyorieki" class="text-danger"></span>
        </div>
        <div class="grid2 first">
            @*<div class="form-group">*@
            <label asp-for="EJitakuToEki" class="grid2 item_height16"></label>
        </div>
        @*<div class="grid2 item_height16 ">
            <input name="EJitakuToEki" asp-for="EJitakuToEki" placeholder="例: 徒歩10分" class="grid2 item_height16 " value="" />
            <span asp-validation-for="EJitakuToEki" class="text-danger"></span>
        </div>*@
        <div class="grid2 item_height16 ">
            <select name="EJitakuToEki_Koutsu" style="text-align: center;" class="grid2 item_height16 " >
                    <option value="未選択">未選択</option>
                    <option value="徒歩">徒歩</option>
                    <option value="バス">バス</option>
                    <option value="その他">その他</option>
            </select>
        </div>
        <div class="grid2 item_height16 ">
                <select name="EJitakuToEki_Jikan"  style="text-align: center;" class="grid2 item_height16">
                    <option value="未選択">未選択</option>
                    <option value="1-10分">１分から１０分</option>
                    <option value="11-20分">１１分から２０分</option>
                    <option value="21-30分">２１分から３０分</option>
                    <option value="31-40分">３１分から４０分</option>
                    <option value="41-50分">５１分から６０分</option>
                    <option value="61-90分">1時間から1時間半</option>
                    <option value="91分以上">1時間半以上</option>
                  
                </select>

                <span asp-validation-for="EJitakuToEki" class="text-danger"></span>
        </div>

        <div class="grid2 first">

            @*<div class="form-group">*@
            <label asp-for="EShigotoKibou" class="grid2 item_height16"></label>
        </div>
        <div class="grid4 item_height60 ">
            @*<div class="col-md-10">*@
            <textarea name="EKibou_textarea" class="grid4 item_height60 "　 placeholder="希望する仕事はなんですか？" ></textarea>
            <span asp-validation-for="EShigotoKibou" class="text-danger"></span>
        </div>

        <div class="grid2 first">
            @*<div class="form-group">*@
            <label asp-for="EEmail" class="grid2 item_height16">email　<font color="red">（必須）</font></label>
        </div>
        <div class="grid4">
            @*<div class="col-md-10">*@
            <input name="EEmail" asp-for="EEmail" placeholder="メール　アドレス"  class="grid4 item_height16 " value="" />
            <span asp-validation-for="EEmail" class="text-danger"></span>
        </div>

        <div class="grid2 first">
            @*<div class="form-group">*@
            <label asp-for="EPhone" class="grid2 item_height16">電話　<font size="1">( ハイフンなし )</font></label>
        </div>
        <div class="grid4">
            @*<div class="col-md-10">*@
            <input name="EPhone" asp-for="EPhone" placeholder="例: 0356887301 ハイフンなし" class="grid4 item_height16  " value="" />
            <span asp-validation-for="EPhone" class="text-danger"></span>
        </div>

        <div class="grid2 first">

            <label asp-for="EMendan1Date" class="grid2 item_height16"></label>
        </div>
        <div class="grid2 item_height16  ">
            <input name="EMendan1Date" style="text-align:center;" class="grid2 item_height16" type="date" asp-for="EMendan1Date" min="2017-01-01" max="2020-12-31" step="1" />
            <span asp-validation-for="EMendan1Date" class="text-danger"></span>
        </div>
       
        <div class="grid1 item_height16 ">
            <input style="text-align:center; width:auto;height:auto; display: inline-flex;" type="checkbox" value="AM" name="EMendan1Am" class="form-control" />　AM
          
            @*<span asp-validation-for="EMendan1Am" class="text-danger"></span>*@
        </div>
        <div class="grid1 item_height16 ">
            <input style="text-align:center; width:auto;height:auto; display: inline-flex;" type="checkbox" value="PM" name="EMendan1Pm" class="form-control" />　PM
            @*<input name="EMendan1Ampm" type="hidden" class="form-control" />*@

            <span asp-validation-for="EMendan1Ampm" class="text-danger"></span>
        </div>

        <div class="grid2 first">

            <label asp-for="EMendan2Date" class="grid2 item_height16" ></label>


        </div>
        <div class="grid2">

            <input name="EMendan2Date" style="text-align:center;" class="grid2 item_height16" type="date" asp-for="EMendan2Date" min="2017-01-01" max="2020-12-31" step="1" />
            <span asp-validation-for="EMendan2Date" class="text-danger"></span>
        </div>
        
        <div class="grid1 item_height16 ">
            <input style="text-align:center; width:auto;height:auto; display: inline-flex;" type="checkbox" value="AM" name="EMendan2Am" class="form-control" />　AM

            @*<span asp-validation-for="EMendan1Am" class="text-danger"></span>*@
        </div>
        <div class="grid1 item_height16 ">
            <input style="text-align:center; width:auto;height:auto; display: inline-flex;" type="checkbox" value="PM" name="EMendan2Pm" class="form-control" />　PM
            @*<input name="EMendan2Ampm" type="hidden" class="form-control" />*@

            <span asp-validation-for="EMendan2Ampm" class="text-danger"></span>
        </div>

        <div class="grid2 first">

            <label asp-for="EMendan3Date" class="grid2 item_height16"></label>
        </div>
        <div class="grid2 item_height16  ">
            <input name="EMendan3Date" style="text-align:center;" class="grid2 item_height16" type="date" asp-for="EMendan3Date" min="2017-01-01" max="2020-12-31" step="1" />
            <span asp-validation-for="EMendan3Date" class="text-danger"></span>
        </div>
        <div class="grid1 item_height16 ">
            <input style="text-align:center; width:auto;height:auto; display: inline-flex;" type="checkbox" value="AM" name="EMendan3Am" class="form-control" />　AM

            @*<span asp-validation-for="EMendan1Am" class="text-danger"></span>*@
        </div>
        <div class="grid1 item_height16 ">
            <input style="text-align:center; width:auto;height:auto; display: inline-flex;" type="checkbox" value="PM" name="EMendan3Pm" class="form-control" />　PM
            @*<input name="EMendan3Ampm" type="hidden" class="form-control" />*@

            <span asp-validation-for="EMendan3Ampm" class="text-danger"></span>
        </div>

        
        <div class="grid2 first">

            @*<div class="form-group">*@
            <label asp-for="EQuestion" class="grid2 item_height16" ></label>
        </div>
        @*<div>*@
        <div class="grid8 item_height160 colspan2">
            @*<div class="col-md-10">*@
            <textarea name="EQ_textarea" class="grid8 item_height160 colspan2"　 placeholder="質問.要望など、自由にお書きください。   (400字まで)"></textarea>
            <span asp-validation-for="EQuestion" class="text-danger"></span>
        </div>
          
        
        <div class="grid2 first">

           
            <label class="grid2 item_height16">　　</label>
        </div>

        <p>
        @*<div class="grid2">*@
           
            <input type="submit" onclick="return check1()" value="確認せずに登録" class="grid2 item_height16 btn btn-default" />

           
        @*</div>*@

        @*<div class="grid2 first">
              <label class="grid2 item_height16">　　</label>
        </div>

        <div class="grid2 ">*@
            <input type="button" onclick="return check1()" name="Soshin" value="入力内容を確認" class="grid2 item_height16 btn btn-default" />
            @*<input type="button" datafld="ENameSei,ENameNamae,ENameSeiKana,ENameNamaeKana,EEMail" onclick="return check1()" action="asp-action Details" value="入力内容を確認" class="grid2 item_height16 btn btn-default" />*@
        @*</div>*@
        </p>


        
 
</div>
</form>

@*<div>
    <a asp-action="Index">Back to List</a> |
</div>*@

@*<div>
    <a asp-action="Details" asp-route-id="">確認画面へ移動する</a>
</div>*@







@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}