@{
    ViewData["Title"] = "Entry Form";
}

<!DOCTYPE html>
<html lang="ja">
<head>
   


   
    <meta property="og:locale" content="ja_JP">
    <meta property="og:type" content="website">
 

  
    <title>CST エントリーフォーム</title>





</head>
<body id="index" bgcolor="#00ffff">


    <div id="wrapper" class="register-wrapper jac">
        <h1 class="header_text">株式会社サイバースペーステクノロジー</h1>
        <div id="header">
            <p id="logo"><a href="/">Cyberspace Technology</a></p>
            <div id="registTopOther" class="clearfix">

            </div>
        </div>
        <div id="topicPath"></div>
        <div id="mainCol">
            <span style="display:none" class="totalNum"><span class="x-all-count">157</span></span>
            <span style="display:none"><span class="x-open-count">77</span></span>

            <div id="supportForm" class="fullWidthTbl">
               
                <h2>エントリーフォーム</h2>
              
                <form method="post" class="validate std">
                    <table>
                        <tbody>
                            <tr>
                                <th class="hissu" width="185">氏名</th>
                                <td>
                                    <ul class="list-error"></ul>
                                    @*<div class="wdg-form-wrap mb-00">*@
                                    <div class="x-name">
                                            <label>
                                                <span class="label-title inputWidth-2">　姓</span>&nbsp;
                                                <input type="text" name="last_name" class="x-last_name w120" placeholder="姓" value="">
                                            </label>&nbsp;&nbsp;
                                            <label>
                                                <span class="label-title inputWidth-2">　名</span>&nbsp;
                                                <input type="text" name="first_name" class="x-first_name w120" placeholder="名" value="">
                                            </label>
                                        @*<label>
                                            <output for="last_name firstname" />
                                        </label>*@
                                        </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="hissu">フリガナ</th>
                                <td>
                                    <ul class="list-error"></ul>
                                    <div class="x-name">
                                        <label>
                                            <span class="label-title inputWidth-2">セイ</span>&nbsp;
                                            <input type="text" name="last_name_kana" class="x-last_name_kana w120" placeholder="セイ" value="">
                                        </label>&nbsp;&nbsp;
                                        <label>
                                            <span class="label-title inputWidth-2">メイ</span>&nbsp;
                                            <input type="text" name="first_name_kana" class="x-first_name_kana w120" placeholder="メイ" value="">
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="hissu"><label>生年月日</label></th>
                                <td>
                                    <ul class="list-error"></ul>
                                    <div class="wdg-form-wrap mb-00">
                                        <select name="birthday_year">
                                            <option value="" selected>‐</option>
                                            <option value="1952">1952</option>
                                            <option value="1953">1953</option>
                                            <option value="1954">1954</option>
                                            <option value="1955">1955</option>
                                            <option value="1956">1956</option>
                                            <option value="1957">1957</option>
                                            <option value="1958">1958</option>
                                            <option value="1959">1959</option>
                                            <option value="1960">1960</option>
                                            <option value="1961">1961</option>
                                            <option value="1962">1962</option>
                                            <option value="1963">1963</option>
                                            <option value="1964">1964</option>
                                            <option value="1965">1965</option>
                                            <option value="1966">1966</option>
                                            <option value="1967">1967</option>
                                            <option value="1968">1968</option>
                                            <option value="1969">1969</option>
                                            <option value="1970">1970</option>
                                            <option value="1971">1971</option>
                                            <option value="1972">1972</option>
                                            <option value="1973">1973</option>
                                            <option value="1974">1974</option>
                                            <option value="1975">1975</option>
                                            <option value="1976">1976</option>
                                            <option value="1977">1977</option>
                                            <option value="1978">1978</option>
                                            <option value="1979">1979</option>
                                            <option value="1980">1980</option>
                                            <option value="1981">1981</option>
                                            <option value="1982">1982</option>
                                            <option value="1983">1983</option>
                                            <option value="1984">1984</option>
                                            <option value="1985">1985</option>
                                            <option value="1986">1986</option>
                                            <option value="1987">1987</option>
                                            <option value="1988">1988</option>
                                            <option value="1989">1989</option>
                                            <option value="1990">1990</option>
                                            <option value="1991">1991</option>
                                            <option value="1992">1992</option>
                                            <option value="1993">1993</option>
                                            <option value="1994">1994</option>
                                            <option value="1995">1995</option>
                                            <option value="1996">1996</option>
                                            <option value="1997">1997</option>
                                            <option value="1998">1998</option>
                                            <option value="1999">1999</option>
                                            <option value="2000">2000</option>
                                            <option value="2001">2001</option>
                                            <option value="2002">2002</option>

                                        </select>
                                        <span class="label-title inputWidth-2">年</span>
                                        <select name="birthday_month">
                                            <option value="" selected>‐</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                        <span class="label-title inputWidth-2">月</span>
                                        <select name="birthday_day">
                                            <option value="" selected>‐</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                        </select>
                                        <span class="label-title inputWidth-2">日</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label>メールアドレス</label>
                                </th>
                                <td>
                                    <ul class="list-error"></ul>
                                    <div class="wdg-form-wrap mb-00">
                                        <input type="email" name="mail_add" maxlength="50" size="70" class="x-email_area"  placeholder="メールアドレス"　value="">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label>電話番号</label>
                                </th>
                                <td>
                                    <ul class="list-error"></ul>
                                    <div class="wdg-form-wrap mb-00">
                                        <p>
                                        <input type="text" name="tel_area" maxlength="5" size="4" pattern="[0-9]{5}" class="x-tel_area" value=""
                                               title="数字" >
                                        <span class="label-title">-</span>
                                        <input type="text" name="tel_local" maxlength="5" size="4" pattern="[0-9]{5}" class="x-tel_local" value=""
                                               title="数字" >
                                        <span class="label-title">-</span>
                                        <input type="text" name="tel_sub" maxlength="5" size="4" pattern="[0-9]{5}" class="x-tel_sub" value="" 
                                               title="数字" >
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label>希望する仕事</label>
                                </th>
                                <td>
                                    <ul class="list-error"></ul>
                                    <div class="wdg-form-wrap mb-00">
                                        <textarea name="work" rows="5" cols="200" value="">
                                        </textarea>
                                    </div>
                                </td>
                            </tr>
                           


                            <tr>
                                <th><label for="ID_prefecture">ご自宅の最寄り駅</label></th>
                                <td>
                                    @*<p>*@
                                    <ul class="list-error"></ul>
                                    <div class="wdg-form-wrap mb-00">
                                        <label>
                                            <span class="label-title inputWidth-2">路線</span>&nbsp;
                                            <input type="text" name="train" class="x-last_name_kana w120" value="">
                                            線
                                        </label>&nbsp;&nbsp;<br>
                                        <label>
                                            <span class="label-title inputWidth-2">最寄り駅</span>&nbsp;
                                            <input type="text" name="station" class="x-first_name_kana w120" value="">
                                            駅
                                        </label><br>
                                        <input type="radio" name="transportation" style="height:12px;" value="1">&nbsp;<label value="1">徒歩&nbsp;</label><input type="radio" name="transportation"　style="height:12px;" value="2">&nbsp;<label value="2">バス</label>&nbsp;
                                        <input type="text" name="distance" maxlength="4" size="4" class="x-tel_area" value="">
                                        <span class="label-title inputWidth-2">分</span>

                                    </div>
                                    @*</p>*@
                                  </td>
                            </tr>
                            <tr>
                                <th><label for="ID_prefecture">個別説明会日程</label></th>
                                <td>
                                    <p>
                                        <ul class="list-error"></ul>
                                        <div class="wdg-form-wrap mb-00">
                                            <label>
                                                <span class="label-title inputWidth-2">第一希望日</span>&nbsp;
                                                <select name="interview1_month">
                                                    <option value="" selected>‐</option>
                                                    <option value="01">01</option>
                                                    <option value="02">02</option>
                                                    <option value="03">03</option>
                                                    <option value="04">04</option>
                                                    <option value="05">05</option>
                                                    <option value="06">06</option>
                                                    <option value="07">07</option>
                                                    <option value="08">08</option>
                                                    <option value="09">09</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                </select>
                                                <span class="label-title inputWidth-2">月</span>
                                                <select name="interview1_day">
                                                    <option value="" selected>‐</option>
                                                    <option value="01">01</option>
                                                    <option value="02">02</option>
                                                    <option value="03">03</option>
                                                    <option value="04">04</option>
                                                    <option value="05">05</option>
                                                    <option value="06">06</option>
                                                    <option value="07">07</option>
                                                    <option value="08">08</option>
                                                    <option value="09">09</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="16">16</option>
                                                    <option value="17">17</option>
                                                    <option value="18">18</option>
                                                    <option value="19">19</option>
                                                    <option value="20">20</option>
                                                    <option value="21">21</option>
                                                    <option value="22">22</option>
                                                    <option value="23">23</option>
                                                    <option value="24">24</option>
                                                    <option value="25">25</option>
                                                    <option value="26">26</option>
                                                    <option value="27">27</option>
                                                    <option value="28">28</option>
                                                    <option value="29">29</option>
                                                    <option value="30">30</option>
                                                    <option value="31">31</option>
                                                </select>
                                                <span class="label-title inputWidth-2">日</span>
                                                <input type="radio" name="ampm1" style="height:12px;" value="1">&nbsp;<label value="1">AM&nbsp;</label><input type="radio" name="ampm" 　style="height:12px;" value="2">&nbsp;<label value="2">PM</label>&nbsp;
                                            </label>&nbsp;&nbsp;<br>
                                            <label>
                                                <span class="label-title inputWidth-2">第二希望日</span>&nbsp;
                                                <select name="interview2_month">
                                                    <option value="" selected>‐</option>
                                                    <option value="01">01</option>
                                                    <option value="02">02</option>
                                                    <option value="03">03</option>
                                                    <option value="04">04</option>
                                                    <option value="05">05</option>
                                                    <option value="06">06</option>
                                                    <option value="07">07</option>
                                                    <option value="08">08</option>
                                                    <option value="09">09</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                </select>
                                                <span class="label-title inputWidth-2">月</span>
                                                <select name="interview2_day">
                                                    <option value="" selected>‐</option>
                                                    <option value="01">01</option>
                                                    <option value="02">02</option>
                                                    <option value="03">03</option>
                                                    <option value="04">04</option>
                                                    <option value="05">05</option>
                                                    <option value="06">06</option>
                                                    <option value="07">07</option>
                                                    <option value="08">08</option>
                                                    <option value="09">09</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="16">16</option>
                                                    <option value="17">17</option>
                                                    <option value="18">18</option>
                                                    <option value="19">19</option>
                                                    <option value="20">20</option>
                                                    <option value="21">21</option>
                                                    <option value="22">22</option>
                                                    <option value="23">23</option>
                                                    <option value="24">24</option>
                                                    <option value="25">25</option>
                                                    <option value="26">26</option>
                                                    <option value="27">27</option>
                                                    <option value="28">28</option>
                                                    <option value="29">29</option>
                                                    <option value="30">30</option>
                                                    <option value="31">31</option>
                                                </select>
                                                <span class="label-title inputWidth-2">日</span>
                                                <input type="radio" name="ampm2" style="height:12px;" value="1">&nbsp;<label value="1">AM&nbsp;</label><input type="radio" name="ampm" 　style="height:12px;" value="2">&nbsp;<label value="2">PM</label>&nbsp;
                                            </label>&nbsp;&nbsp;<br>
                                            <label>
                                                <span class="label-title inputWidth-2">第三希望日</span>&nbsp;
                                                <select name="interview3_month">
                                                    <option value="" selected>‐</option>
                                                    <option value="01">01</option>
                                                    <option value="02">02</option>
                                                    <option value="03">03</option>
                                                    <option value="04">04</option>
                                                    <option value="05">05</option>
                                                    <option value="06">06</option>
                                                    <option value="07">07</option>
                                                    <option value="08">08</option>
                                                    <option value="09">09</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                </select>
                                                <span class="label-title inputWidth-2">月</span>
                                                <select name="interview3_day">
                                                    <option value="" selected>‐</option>
                                                    <option value="01">01</option>
                                                    <option value="02">02</option>
                                                    <option value="03">03</option>
                                                    <option value="04">04</option>
                                                    <option value="05">05</option>
                                                    <option value="06">06</option>
                                                    <option value="07">07</option>
                                                    <option value="08">08</option>
                                                    <option value="09">09</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="16">16</option>
                                                    <option value="17">17</option>
                                                    <option value="18">18</option>
                                                    <option value="19">19</option>
                                                    <option value="20">20</option>
                                                    <option value="21">21</option>
                                                    <option value="22">22</option>
                                                    <option value="23">23</option>
                                                    <option value="24">24</option>
                                                    <option value="25">25</option>
                                                    <option value="26">26</option>
                                                    <option value="27">27</option>
                                                    <option value="28">28</option>
                                                    <option value="29">29</option>
                                                    <option value="30">30</option>
                                                    <option value="31">31</option>
                                                </select>
                                                <span class="label-title inputWidth-2">日</span>
                                                <input type="radio" name="ampm3" style="height:12px;" value="1">&nbsp;<label value="1">AM&nbsp;</label><input type="radio" name="ampm" 　style="height:12px;" value="2">&nbsp;<label value="2">PM</label>&nbsp;
                                            </label>&nbsp;&nbsp;<br>

                                        </div>
                                    </p>
                                </td>
                            </tr>



                            <tr>
                                <th>
                                    <label>その他<br>
                                          ご要望やご質問など</label>
                                </th>
                                <td>
                                    <ul class="list-error"></ul>
                                    <div class="wdg-form-wrap mb-00">
                                        <textarea name="work" rows="5" cols="200" value="">
                                        </textarea>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><label for="question"></label></th>
                                <td>
                                <p>
                                    <div>
                                        <input type="submit" value="送信">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                       
                                        @*<% using (Html.BeginForm())
                                        {%>
                                            <%= Html.TextBox("last_name")%>
                                            <input type="submit" value="送信"/>
                                            <h2><%= Html.Encode(ViewData["last_name"])</h2>
                                        <% } %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        
                                        <% Html.BeginForm();%>
                                            <%= Html.TextBox("last_name") %>
                                            <input type="submit" value="送信" />
                                            <h2><%= Html.Encode(ViewData["last_name"])</h2>

                                        <% Html.EndForm();%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*@

                                        <input type="reset" value="リセット"><br />

                                        @ViewData["last_name"]
                                    </div>
                                </p>
                                </td>
                            </tr>

                        </tbody>
                       
                    </table>
                   
                </form>
            </div>

        </div>
       


              

           
    </div>
   


</body ></html >