@model CSTEntryForm02a.Models.TEntryMeibo

@{
    ViewData["Title"] = "Create";
}

<head>
    <script type="text/javascript">
    <!--
       
        function check1() {

            var text_equestion = document.entryform.EQuestion.value;


        if (document.entryform.ENameSei.value == null || document.entryform.ENameSei.value == ""
            || document.entryform.ENameNamae.value == null || document.entryform.ENameNamae.value == ""
            || document.entryform.ENameSeiKana.value == null || document.entryform.ENameSeiKana.value == ""
            || document.entryform.ENameNamaeKana.value == null || document.entryform.ENameNamaeKana.value == ""
            || document.entryform.EEmail.value == null || document.entryform.EEmail.value == ""

        ) {
            alert("必須項目を入力して下さい。");
            return false;

        } else {
            alert("確認画面へ移動します。少々お待ちください。");
            return true;
            
        }

    }   
   
    function check2() {
        if (document.entryform.ENameSei.value == null || document.entryform.ENameSei.value == ""
            || document.entryform.ENameNamae.value == null || document.entryform.ENameNamae.value == ""
            || document.entryform.ENameSeiKana.value == null || document.entryform.ENameSeiKana.value == ""
            || document.entryform.ENameNamaeKana.value == null || document.entryform.ENameNamaeKana.value == ""
            || document.entryform.EEmail.value == null || document.entryform.EEmail.value == ""

        ) {
            alert("必須項目を入力して下さい。");
            return false;

        } else {
            alert("ありがとうございました。");
            return true;

        }

    }   

   // -->

</script>
    
</head>




@*<h3>　</h3>*@
<h2>株式会社サイバースペーステクノロジー</h2>
<style>
    h2 {
        color:royalblue ;
        font-family:'Global Sans Serif';
        font-weight:900;
    }
    body {
        background: beige;
    }
    .item {
        padding: 50px;
        /*border-radius: 8px;
        border: 3px solid #ccc;*/
    }
    /*.container {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: auto ;
        grid-template-rows: minmax(20px auto);
    }*/
    .container {
        width: 940px;
        /*width: 1154px;*/
         
    }
    div {
        margin: 7px;
    }
    .grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11 {
    float: left;
    display: inline;
    margin-left: 20px;
   
    }
    .grid1 {
        width: 60px;
    }
    .grid2 {
        width: 140px;
    }
    .grid3 {
        width: 220px;
    }
    .grid4 {
        width: 300px;
    }
    .grid5 {
        width: 380px;
    }
    .grid6 {
        width: 460px;
    }
    .grid7 {
        width: 540px;
    }
    .grid8 {
        width: 620px;
    }
    .grid9 {
        width: 700px;
    }
    .grid10 {
        width: 780px;
    }
    .grid11 {
        width: 860px;
    }
   
    .first {
        margin-left: 0;
        clear: left;
    }

    .item_height16 {
        height: auto;
    }

    .item_height60 {
        height: 60px;
    }

    .item_height100 {
        height: 100px;
    }

    .item_height120 {
        height: 120px;
    }

    .item_height160 {
        height: 160px;
    }

    /* clearfix */
    .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    /*height: 0;*/
    }
 
    /* IE6 */
    * html .clearfix {
        zoom: 1;
    }
 
    /* IE7 */
    *:first-child + html .clearfix {
        zoom: 1;
    }


</style>

<form name="entryform" asp-action="Create" method="post">
   

    <div class="container">
        <div class="form-horizontal">
            @*<div class="item">*@
            <h4>エントリーフォーム</h4>
            <hr />

            <div asp-validation-summary="ModelOnly" class="text-danger form-horizontal"></div>
        </div>

        @*<div class="form-group">*@
        <div class="grid2 first">
            @*<label asp-for="ENameSei" class="col-md-3 control-label"></label>*@
            <label asp-for="ENameSei" class="grid2 item_height16">氏名　 <font color="red">（必須）</font></label>
        </div>
        
        <div class="grid2">
            @*<div class="col-md-10">*@
            @*<input style="display: inline; float: left;" asp-for="ENameSei" class="form-control" placeholder="姓" value="" />　　<input style="display: inline; " asp-for="ENameNamae" class="form-control" placeholder="名" value="" />*@
            <input type="text" maxlength="20" name="ENameSei" asp-for="ENameSei" style="display: inline;" placeholder="姓" class="grid2 item_height16"  />
            <span asp-validation-for="ENameSei" class="text-danger"></span>
        </div>
        <script type="text/javascript">
            document.entryform.ENameSei.focus();
        </script>

        <div class="grid2 ">
            <input type="text" maxlength="20" name="ENameNamae" asp-for="ENameNamae" placeholder="名" class="grid2 item_height16" />
            <span asp-validation-for="ENameNamae" class="text-danger"></span>
        </div>



        @*<div class="form-horizontal">*@
        <div class="grid2  first">
            @*<div class="form-group">*@
            @*<label asp-for="ENameSeiKana" class="col-md-3 control-label"></label>*@
            <label asp-for="ENameSeiKana" class="grid2 item_height16">ふりがな　<font color="red">（必須）</font></label>
        </div>
        <div class="grid2">
            @*<div class="col-md-10">*@
            @*<input style="display: inline; float: left;" asp-for="ENameSeiKana" class="form-control" placeholder="せい" value="" />　　<input style="display: inline;" asp-for="ENameNamaeKana" class="form-control" placeholder="めい" value="" />*@
            <input type="text" maxlength="20" name="ENameSeiKana" asp-for="ENameSeiKana" placeholder="せい" class="grid2 item_height16 "  />
            <span asp-validation-for="ENameSeiKana" class="text-danger"></span>
        </div>
        <div class="grid2">
            <input type="text" maxlength="20" name="ENameNamaeKana" asp-for="ENameNamaeKana" placeholder="めい" class="grid2 item_height16 "  />
            <span asp-validation-for="ENameNamaeKana" class="text-danger"></span>
        </div>

        <div class="grid2  first">
            @*<div class="form-group">*@
            <label asp-for="ENenrei" class="grid2 item_height16"></label>
        </div>
        <div class="grid1 ">
            @*<div class="col-md-2">*@
            <input type="text" maxlength="20" name="ENenrei" asp-for="ENenrei"　style = "text-align : left;" class="grid1 item_height16 " placeholder="歳"　/>
            <span asp-validation-for="ENenrei" class="text-danger"></span>
        </div>

        <div class="grid2 first">
            @*<div class="form-group">*@
            <label asp-for="EEmail" class="grid2 item_height16">email　<font color="red">（必須）</font></label>
        </div>
        <div class="grid4">
            @*<div class="col-md-10">*@
            <input type="text" maxlength="50" name="EEmail" asp-for="EEmail" placeholder="メール　アドレス" class="grid4 item_height16 " />
            <span asp-validation-for="EEmail" class="text-danger"></span>
        </div>

        <div class="grid2 first">
            @*<div class="form-group">*@
            <label asp-for="EPhone" class="grid2 item_height16">電話　<font size="1">( ハイフンなし )</font></label>
        </div>
        <div class="grid4">
            @*<div class="col-md-10">*@
            <input type="text" maxlength="50" name="EPhone" asp-for="EPhone" placeholder="例: 0356887301 ハイフンなし" class="grid4 item_height16 " />
            <span asp-validation-for="EPhone" class="text-danger"></span>
        </div>

        <div class="grid2 first">
            @*<div class="form-group">*@
            <label asp-for="EJitakuRosen" class="grid2 item_height16">自宅最寄り駅(路線-駅)</label>
        </div>
        @*<div class="col-md-10">*@
        <div class="grid3">
            @*<input style="display: inline; float: left;" asp-for="EJitakuRosen" class="form-control" placeholder="路線名" value="" />線　-　<input style="display: inline;" 　asp-for="EJitakuMoyorieki" class="form-control" placeholder="駅名" value="" />駅*@
            <input type="text" maxlength="50" name="EJitakuRosen" asp-for="EJitakuRosen" placeholder="路線名" class="grid3 item_height16 "  />
            <span asp-validation-for="EJitakuRosen" class="text-danger"></span>
        </div>
        <div class="grid3">
            <input type="text" maxlength="50" name="EJitakuMoyorieki" asp-for="EJitakuMoyorieki" placeholder="駅名" class="grid3 item_height16 "  />
            <span asp-validation-for="EJitakuMoyorieki" class="text-danger"></span>
        </div>
        <div class="grid2 first">
            @*<div class="form-group">*@
            <label asp-for="EJitakuToEki_Koutsu" class="grid2 item_height16"></label>
        </div>
        @*<div class="grid2 item_height16 ">
            <input name="EJitakuToEki" asp-for="EJitakuToEki" placeholder="例: 徒歩10分" class="grid2 item_height16 " value="" />
            <span asp-validation-for="EJitakuToEki" class="text-danger"></span>
        </div>*@
        <div class="grid2 item_height16 ">
                <select name="EJitakuToEki_Koutsu" asp-for="EJitakuToEki_Koutsu" style="text-align: center;" class="grid2 item_height16">
                    @*<option value="-">@Html.DisplayFor(model => model.EJitakuToEki_Koutsu)</option>*@
                    <option value="-">交通手段</option>
                    <option value="徒歩">徒歩</option>
                    <option value="バス" >バス</option>
                    <option value="その他">その他</option>
                </select>
            @*<input type="hidden" asp-for="EJitakuToEki_Koutsu" name="EJitakuToEki_Koutsu" />*@


            <span asp-validation-for="EJitakuToEki_Koutsu" class="text-danger"></span>
        </div>
        <div class="grid2 item_height16 ">
                <select name="EJitakuToEki_Jikan" asp-for="EJitakuToEki_Jikan" style="text-align: center;" class="grid2 item_height16">
                    <option value="-">駅までの時間</option>
                    <option value="1-10分">１分から１０分</option>
                    <option value="11-20分">１１分から２０分</option>
                    <option value="21-30分">２１分から３０分</option>
                    <option value="31-40分">３１分から４０分</option>
                    <option value="41-50分">５１分から６０分</option>
                    <option value="61-90分">1時間から1時間半</option>
                    <option value="91分以上">1時間半以上</option>

                </select>

                <span asp-validation-for="EJitakuToEki_Jikan" class="text-danger"></span>
        </div>

        <div class="grid2 first">

            @*<div class="form-group">*@
            <label asp-for="EShigotoKibou" class="grid2 item_height16"></label>
        </div>
        <div class="grid4 item_height60 ">
            @*<div class="col-md-10">*@
            <textarea type="text" maxlength="400" name="EShigotoKibou" class="grid4 item_height60 "　asp-for="EShigotoKibou" placeholder="希望する仕事はなんですか？ (400字まで)" ></textarea>
            <span asp-validation-for="EShigotoKibou" class="text-danger"></span>
        </div>



        <div class="grid2 first">

            <label asp-for="EMendan1Hi" class="grid2 item_height16"></label>
        </div>
        <div class="grid1 item_height16 ">
            <select name="EMendan1Tsuki" asp-for="EMendan1Tsuki" style="text-align: center;" class="grid1 item_height16 ">
                <option value="-">月</option>
                <option value="1月">1月</option>
                <option value="2月">2月</option>
                <option value="3月">3月</option>
                <option value="4月">4月</option>
                <option value="5月">5月</option>
                <option value="6月">6月</option>
                <option value="7月">7月</option>
                <option value="8月">8月</option>
                <option value="9月">9月</option>
                <option value="10月">10月</option>
                <option value="11月">11月</option>
                <option value="12月">12月</option>
            </select>
            <span asp-validation-for="EMendan1Tsuki" class="text-danger"></span>
        </div>
        <div class="grid1 item_height16 ">
            <select name="EMendan1Hi" asp-for="EMendan1Hi" style="text-align: center;" class="grid1 item_height16" >
                <option value="-">日</option>
                <option value="1日">1日</option>
                <option value="2日">2日</option>
                <option value="3日">3日</option>
                <option value="4日">4日</option>
                <option value="5日">5日</option>
                <option value="6日">6日</option>
                <option value="7日">7日</option>
                <option value="8日">8日</option>
                <option value="9日">9日</option>
                <option value="10日">10日</option>
                <option value="11日">11日</option>
                <option value="12日">12日</option>
                <option value="13日">13日</option>
                <option value="14日">14日</option>
                <option value="15日">15日</option>
                <option value="16日">16日</option>
                <option value="17日">17日</option>
                <option value="18日">18日</option>
                <option value="19日">19日</option>
                <option value="20日">20日</option>
                <option value="21日">21日</option>
                <option value="22日">22日</option>
                <option value="23日">23日</option>
                <option value="24日">24日</option>
                <option value="25日">25日</option>
                <option value="26日">26日</option>
                <option value="27日">27日</option>
                <option value="28日">28日</option>
                <option value="29日">29日</option>
                <option value="30日">30日</option>
                <option value="31日">31日</option>
            </select>
            <span asp-validation-for="EMendan1Hi" class="text-danger"></span>
        </div>
        @*<div class="grid1 item_height16 ">
            <select name="EMendan1Youbi" asp-for="EMendan1Youbi" style="text-align: center;" class="grid1 item_height16 " >
                <option value="-">曜日</option>
                <option value="(月)">月曜</option>
                <option value="(火)">火曜</option>
                <option value="(水)">水曜</option>
                <option value="(木)">木曜</option>
                <option value="(金)">金曜</option>
            </select>
            <span asp-validation-for="EMendan1Youbi" class="text-danger"></span>
        </div>*@
        <div class="grid2 item_height16 ">
            <select name="EMendan1Ampm" asp-for="EMendan1Ampm" style="text-align: center;" class="grid2 item_height16 ">
                <option value="-">AM? PM?</option>
                <option value="AMPM">AMPMどちらでも</option>
                <option value="AM">AM</option>
                <option value="PM">PM</option>
            </select>
            <span asp-validation-for="EMendan1Ampm" class="text-danger"></span>
        </div>

        @*<div class="grid2 item_height16  ">
            <input name="EMendan1Date" style="text-align:center;" class="grid2 item_height16" type="date" asp-for="EMendan1Date" min="2017-01-01" max="2020-12-31" step="1" />
            <span asp-validation-for="EMendan1Date" class="text-danger"></span>
        </div>
         <div class="grid1 item_height16 ">
            <input style="text-align:center; width:auto;height:auto; display: inline-flex;" type="checkbox" value="AM" name="EMendan1Am" class="form-control" />　AM
        </div>
        <div class="grid1 item_height16 ">
            <input style="text-align:center; width:auto;height:auto; display: inline-flex;" type="checkbox" value="PM" name="EMendan1Pm" class="form-control" />　PM
            <span asp-validation-for="EMendan1Ampm" class="text-danger"></span>
        </div>*@


        <div class="grid2 first">

            <label asp-for="EMendan2Hi" class="grid2 item_height16"></label>
        </div>
        <div class="grid1 item_height16 ">
            <select name="EMendan2Tsuki" asp-for="EMendan2Tsuki" style="text-align: center;" class="grid1 item_height16 ">
                <option value="-">月</option>
                <option value="1月">1月</option>
                <option value="2月">2月</option>
                <option value="3月">3月</option>
                <option value="4月">4月</option>
                <option value="5月">5月</option>
                <option value="6月">6月</option>
                <option value="7月">7月</option>
                <option value="8月">8月</option>
                <option value="9月">9月</option>
                <option value="10月">10月</option>
                <option value="11月">11月</option>
                <option value="12月">12月</option>
            </select>
            <span asp-validation-for="EMendan2Tsuki" class="text-danger"></span>
        </div>
        <div class="grid1 item_height16 ">
            <select name="EMendan2Hi" asp-for="EMendan2Hi" style="text-align: center;" class="grid1 item_height16">
                <option value="-">日</option>
                <option value="1日">1日</option>
                <option value="2日">2日</option>
                <option value="3日">3日</option>
                <option value="4日">4日</option>
                <option value="5日">5日</option>
                <option value="6日">6日</option>
                <option value="7日">7日</option>
                <option value="8日">8日</option>
                <option value="9日">9日</option>
                <option value="10日">10日</option>
                <option value="11日">11日</option>
                <option value="12日">12日</option>
                <option value="13日">13日</option>
                <option value="14日">14日</option>
                <option value="15日">15日</option>
                <option value="16日">16日</option>
                <option value="17日">17日</option>
                <option value="18日">18日</option>
                <option value="19日">19日</option>
                <option value="20日">20日</option>
                <option value="21日">21日</option>
                <option value="22日">22日</option>
                <option value="23日">23日</option>
                <option value="24日">24日</option>
                <option value="25日">25日</option>
                <option value="26日">26日</option>
                <option value="27日">27日</option>
                <option value="28日">28日</option>
                <option value="29日">29日</option>
                <option value="30日">30日</option>
                <option value="31日">31日</option>
            </select>
            <span asp-validation-for="EMendan2Hi" class="text-danger"></span>
        </div>
        @*<div class="grid1 item_height16 ">
            <select name="EMendan2Youbi" asp-for="EMendan2Youbi" style="text-align: center;" class="grid1 item_height16 ">
                <option value="-">曜日</option>
                <option value="(月)">月曜</option>
                <option value="(火)">火曜</option>
                <option value="(水)">水曜</option>
                <option value="(木)">木曜</option>
                <option value="(金)">金曜</option>
            </select>
            <span asp-validation-for="EMendan2Youbi" class="text-danger"></span>
        </div>*@
        <div class="grid2 item_height16 ">
            <select name="EMendan2Ampm" asp-for="EMendan2Ampm" style="text-align: center;" class="grid2 item_height16 ">
                <option value="-">AM? PM?</option>
                <option value="AMPM">AMPMどちらでも</option>
                <option value="AM">AM</option>
                <option value="PM">PM</option>
            </select>
            <span asp-validation-for="EMendan2Ampm" class="text-danger"></span>
        </div>

        @*<div class="grid2 first">
            <label asp-for="EMendan2Date" class="grid2 item_height16" ></label>

        </div>
        <div class="grid2">

            <input name="EMendan2Date" style="text-align:center;" class="grid2 item_height16" type="date" asp-for="EMendan2Date" min="2017-01-01" max="2020-12-31" step="1" />
            <span asp-validation-for="EMendan2Date" class="text-danger"></span>
        </div>
        <div class="grid1 item_height16 ">
            <input style="text-align:center; width:auto;height:auto; display: inline-flex;" type="checkbox" value="AM" name="EMendan2Am" class="form-control" />　AM
        </div>
        <div class="grid1 item_height16 ">
            <input style="text-align:center; width:auto;height:auto; display: inline-flex;" type="checkbox" value="PM" name="EMendan2Pm" class="form-control" />　PM
            <span asp-validation-for="EMendan2Ampm" class="text-danger"></span>
        </div>*@

        <div class="grid2 first">

            <label asp-for="EMendan3Hi" class="grid2 item_height16"></label>
        </div>
        <div class="grid1 item_height16 ">
            <select name="EMendan3Tsuki" asp-for="EMendan3Tsuki" style="text-align: center;" class="grid1 item_height16 ">
                <option value="-">月</option>
                <option value="1月">1月</option>
                <option value="2月">2月</option>
                <option value="3月">3月</option>
                <option value="4月">4月</option>
                <option value="5月">5月</option>
                <option value="6月">6月</option>
                <option value="7月">7月</option>
                <option value="8月">8月</option>
                <option value="9月">9月</option>
                <option value="10月">10月</option>
                <option value="11月">11月</option>
                <option value="12月">12月</option>
            </select>
            <span asp-validation-for="EMendan3Tsuki" class="text-danger"></span>
        </div>
        <div class="grid1 item_height16 ">
            <select name="EMendan3Hi" asp-for="EMendan3Hi" style="text-align: center;" class="grid1 item_height16">
                <option value="-">日</option>
                <option value="1日">1日</option>
                <option value="2日">2日</option>
                <option value="3日">3日</option>
                <option value="4日">4日</option>
                <option value="5日">5日</option>
                <option value="6日">6日</option>
                <option value="7日">7日</option>
                <option value="8日">8日</option>
                <option value="9日">9日</option>
                <option value="10日">10日</option>
                <option value="11日">11日</option>
                <option value="12日">12日</option>
                <option value="13日">13日</option>
                <option value="14日">14日</option>
                <option value="15日">15日</option>
                <option value="16日">16日</option>
                <option value="17日">17日</option>
                <option value="18日">18日</option>
                <option value="19日">19日</option>
                <option value="20日">20日</option>
                <option value="21日">21日</option>
                <option value="22日">22日</option>
                <option value="23日">23日</option>
                <option value="24日">24日</option>
                <option value="25日">25日</option>
                <option value="26日">26日</option>
                <option value="27日">27日</option>
                <option value="28日">28日</option>
                <option value="29日">29日</option>
                <option value="30日">30日</option>
                <option value="31日">31日</option>
            </select>
            <span asp-validation-for="EMendan3Hi" class="text-danger"></span>
        </div>
        @*<div class="grid1 item_height16 ">
            <select name="EMendan3Youbi" asp-for="EMendan3Youbi" style="text-align: center;" class="grid1 item_height16 ">
                <option value="-">曜日</option>
                <option value="(月)">月曜</option>
                <option value="(火)">火曜</option>
                <option value="(水)">水曜</option>
                <option value="(木)">木曜</option>
                <option value="(金)">金曜</option>
            </select>
            <span asp-validation-for="EMendan3Youbi" class="text-danger"></span>
        </div>*@
        <div class="grid2 item_height16 ">
            <select name="EMendan3Ampm" asp-for="EMendan3Ampm" style="text-align: center;" class="grid2 item_height16 ">
                <option value="-">AM? PM?</option>
                <option value="AMPM">AMPMどちらでも</option>
                <option value="AM">AM</option>
                <option value="PM">PM</option>
            </select>
            <span asp-validation-for="EMendan3Ampm" class="text-danger"></span>
        </div>






        @*<div class="grid2 first">
            <label asp-for="EMendan3Date" class="grid2 item_height16"></label>
        </div>
        <div class="grid2 item_height16  ">
            <input name="EMendan3Date" style="text-align:center;" class="grid2 item_height16" type="datetime" asp-for="EMendan3Date" min="2017-01-01" max="2020-12-31" step="1" />
            <span asp-validation-for="EMendan3Date" class="text-danger"></span>
        </div>
        <div class="grid1 item_height16 ">
            <input style="text-align:center; width:auto;height:auto; display: inline-flex;" type="checkbox" value="AM" name="EMendan3Am" class="form-control" />　AM
        </div>
        <div class="grid1 item_height16 ">
            <input style="text-align:center; width:auto;height:auto; display: inline-flex;" type="checkbox" value="PM" name="EMendan3Pm" class="form-control" />　P
            <span asp-validation-for="EMendan3Ampm" class="text-danger"></span>
        </div>*@


        <div class="grid2 first">

            @*<div class="form-group">*@
            <label asp-for="EQuestion" class="grid2 item_height16" ></label>
        </div>
        @*<div>*@
        <div class="grid8 item_height120 colspan2">
            @*<div class="col-md-10">*@
            <textarea type="text" maxlength="400" name="EQuestion" class="grid8 item_height120 colspan2" asp-for="EQuestion"　 placeholder="質問.要望など、自由にお書きください。   (400字まで)"></textarea>
            <span asp-validation-for="EQuestion" class="text-danger"></span>
        </div>


        <div class="grid2 first">


            <label class="grid2 item_height16">　　</label>
        </div>

        <p>
        @*<div class="grid2">*@

            @*<input type="submit" onclick="return check2()" value="登録 (確認済み)" class="grid2 item_height16 btn btn-default" style="position: relative; left: 10px"/>*@


        @*</div>*@

        @*<div class="grid2 first">
              <label class="grid2 item_height16">　　</label>
        </div>

        <div class="grid2 ">*@
            <input asp-action="Details" asp-route-id="-1" type="submit" onclick="return check1()" value="確認" class="grid1 item_height16 btn btn-default" style="position: relative; left: 50px"/>
            @*<input type="submit" onclick="return check2()" name="Soshin" value="入力内容を確認" class="grid2 item_height16 btn btn-default" />*@
            @*<input type="submit" onclick="return check2()" name="Soshin" value="入力内容を確認" class="grid2 item_height16 btn btn-default" href='http://localhost/TEntryMeiboes/Review.cshtml?enamesei=value' />*@
            @*<input type="button" datafld="ENameSei,ENameNamae,ENameSeiKana,ENameNamaeKana,EEMail" onclick="return check1()" action="asp-action Details" value="入力内容を確認" class="grid2 item_height16 btn btn-default" />*@
            @*<a asp-action="Details" asp-route-id="-1">Details</a>*@

            @*</div>*@
        </p>




</div>
</form>

@*<div>
    <a asp-action="Index">Back to List</a> |
</div>*@

@*<div>
    <a asp-action="Details" asp-route-id="">確認画面へ移動する</a>
</div>*@







@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}