@model CSTEntryForm02a.Models.TEntryMeibo

@{
    ViewData["Title"] = "Create";
}

<h2>株式会社サイバースペーステクノロジー</h2>


<form asp-action="Create">
    
    <div class="form-horizontal">
        <h4>エントリーフォーム</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
           
                <label asp-for="ENameSei" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                        <input style="display: inline; float: left;" asp-for="ENameSei" class="form-control" placeholder="姓" value="" />　　<input style="display: inline; " asp-for="ENameNamae" class="form-control" placeholder="名" value="" />
                        <span asp-validation-for="ENameSei" class="text-danger"></span>
                        @*</div>*@
                        @*</div>
            <div class="form-group">*@
                        @*<label asp-for="ENameNamae" class="col-md-2 control-label"></label>*@
                        @*<div class="col-md-10">*@
                        @*<input asp-for="ENameNamae" class="form-control" />*@
                        <span asp-validation-for="ENameNamae" class="text-danger"></span>

                    <label asp-for="ENameNamae" class="col-md-2 control-label"></label>
</div>
</div>

        @*<div class="form-group">
                <label asp-for="ENameSei" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ENameSei" class="form-control" />
                    <span asp-validation-for="ENameSei" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ENameNamae" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ENameNamae" class="form-control" />
                    <span asp-validation-for="ENameNamae" class="text-danger"></span>
                </div>
            </div>*@

    </div>

    <div class="form-horizontal">

        <div class="form-group">
            <label asp-for="ENameSeiKana" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input style="display: inline; float: left;" asp-for="ENameSeiKana" class="form-control" placeholder="せい" value="" />　　<input style="display: inline;" asp-for="ENameNamaeKana" class="form-control" placeholder="めい" value="" />

                <span asp-validation-for="ENameSeiKana" class="text-danger"></span>
                @*</div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ENameNamaeKana" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                *@
                <span asp-validation-for="ENameNamaeKana" class="text-danger"></span>
            </div>
        </div>

        @*<div class="form-group">
                <label asp-for="ENameSeiKana" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ENameSeiKana" class="form-control" />
                    <span asp-validation-for="ENameSeiKana" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ENameNamaeKana" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ENameNamaeKana" class="form-control" />
                    <span asp-validation-for="ENameNamaeKana" class="text-danger"></span>
                </div>
            </div>*@

        <div class="form-group">
            <label asp-for="ENenrei" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <input style="display: inline; float: left;"　asp-for="ENenrei" class="form-control" placeholder="年齢" value="" />
                <span asp-validation-for="ENenrei" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <label asp-for="EJitakuRosen" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input style="display: inline; float: left;" asp-for="EJitakuRosen" class="form-control" placeholder="路線名" value="" />線　-　<input style="display: inline;" 　asp-for="EJitakuMoyorieki" class="form-control" placeholder="駅名" value="" />駅

                <span asp-validation-for="EJitakuRosen" class="text-danger"></span>
                @*</div>
                    </div>
                    <div class="form-group">
                        <label asp-for="EJitakuMoyorieki" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="EJitakuMoyorieki" class="form-control" />*@
                <span asp-validation-for="EJitakuMoyorieki" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EJitakuToEki" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EJitakuToEki" class="form-control" placeholder="徒歩　　分" value="" />
                <span asp-validation-for="EJitakuToEki" class="text-danger"></span>
            </div>
        </div>

        @*<div class="form-group">
                <label asp-for="EJitakuRosen" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="EJitakuRosen" class="form-control" />
                    <span asp-validation-for="EJitakuRosen" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EJitakuMoyorieki" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="EJitakuMoyorieki" class="form-control" />
                    <span asp-validation-for="EJitakuMoyorieki" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EJitakuToEki" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="EJitakuToEki" class="form-control" />
                    <span asp-validation-for="EJitakuToEki" class="text-danger"></span>
                </div>
            </div>*@


        <div class="form-group">
            <label asp-for="EShigotoKibou" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EShigotoKibou" class="form-control" />
                <span asp-validation-for="EShigotoKibou" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EEmail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EEmail" class="form-control" placeholder="メール　アドレス" value=""/>
                <span asp-validation-for="EEmail" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EPhone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EPhone" class="form-control" placeholder="電話番号" value=""/>
                <span asp-validation-for="EPhone" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <label asp-for="EMendan1Date" class="col-md-2 control-label"></label>
            <div class="col-md-2">

                <input style="text-align:center; display: inline; float: left;" type="date" asp-for="EMendan1Date" min="2017-01-01" max="2020-12-31" step="1" class="form-control" />


                [ <input style="text-align:center; width:auto;height:auto; display: inline-flex;" type="radio" value="AM" name="AMPM1" asp-for="EMendan1Ampm" class="form-control" />AM
                <input style="text-align:center; width:auto;height:auto; display: inline-flex;" type="radio" value="PM" name="AMPM1" asp-for="EMendan1Ampm" class="form-control" />PM
                ]
                <span asp-validation-for="EMendan1Date" class="text-danger"></span>
                <span asp-validation-for="EMendan1Ampm" class="text-danger"></span>
                @*<div class="col-md-10">
                        <fieldset>
                            <input type="radio" value="AM" asp-for="EMendan1Ampm" class="form-control" />AM
                            <input type="radio" value="PM" asp-for="EMendan1Ampm" class="form-control" />PM
                            <span asp-validation-for="EMendan1Ampm" class="text-danger"></span>
                        </fieldset>
                    </div>*@

            </div>
        </div>


        @*<div class="form-group">
                <label asp-for="EMendan1Date" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="EMendan1Date" class="form-control" />
                    <span asp-validation-for="EMendan1Date" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EMendan1Ampm" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="EMendan1Ampm" class="form-control" />
                    <span asp-validation-for="EMendan1Ampm" class="text-danger"></span>
                </div>
            </div>*@


        <div class="form-group">
            <label asp-for="EMendan2Date" class="col-md-2 control-label"></label>
            <div class="col-md-2">

                <input style="text-align:center; display: inline; float: left;" type="date" asp-for="EMendan2Date" min="2017-01-01" max="2020-12-31" step="1" class="form-control" />


                [ <input style="text-align:center; width:auto;height:auto; display: inline-flex;" type="radio" value="AM" name="AMPM2" asp-for="EMendan2Ampm" class="form-control" />AM
                <input style="text-align:center; width:auto;height:auto; display: inline-flex;" type="radio" value="PM" name="AMPM2" asp-for="EMendan2Ampm" class="form-control" />PM
                ]

                <span asp-validation-for="EMendan2Date" class="text-danger"></span>
                <span asp-validation-for="EMendan2Ampm" class="text-danger"></span>
            </div>
        </div>

        @*<div class="form-group">
                <label asp-for="EMendan2Date" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="EMendan2Date" class="form-control" />
                    <span asp-validation-for="EMendan2Date" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EMendan2Ampm" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="EMendan2Ampm" class="form-control" />
                    <span asp-validation-for="EMendan2Ampm" class="text-danger"></span>
                </div>
            </div>*@



        <div class="form-group">
            <label asp-for="EMendan3Date" class="col-md-2 control-label"></label>
            <div class="col-md-2">

                <input style="text-align:center; display: inline; float: left;" type="date" asp-for="EMendan3Date" min="2017-01-01" max="2020-12-31" step="1" class="form-control" />


                [ <input style="middle; text-align:center; width:auto;height:auto; display: inline-flex;" type="radio" value="AM" name="AMPM3" asp-for="EMendan3Ampm" class="form-control" />AM
                <input style="middle; text-align:center; width:auto;height:auto; display: inline-flex;" type="radio" value="PM" name="AMPM3" asp-for="EMendan3Ampm" class="form-control" />PM
                ]

                <span asp-validation-for="EMendan3Date" class="text-danger"></span>
                <span asp-validation-for="EMendan3Ampm" class="text-danger"></span>
            </div>
        </div>

        @*<div class="form-group">
                <label asp-for="EMendan3Date" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="EMendan3Date" class="form-control" />
                    <span asp-validation-for="EMendan3Date" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EMendan3Ampm" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="EMendan3Ampm" class="form-control" />
                    <span asp-validation-for="EMendan3Ampm" class="text-danger"></span>
                </div>
            </div>*@



        <div class="form-group">
            <label asp-for="EQuestion" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EQuestion" class="form-control" />
                <span asp-validation-for="EQuestion" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Go to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
